version: '3.8'

services:
  db:
    image: postgres:17.5
    environment:
      - POSTGRES_DB=${DATABASES_NAME}
      - POSTGRES_USER=${DATABASES_USER}
      - POSTGRES_PASSWORD=${DATABASES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - '5432:5432'
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped

  redis:
    image: redis:7.0.1
#    Данные сохраняются в файл и восстанавливаются после перезапуска
#    command: redis-server --appendonly yes
    command: redis-server  # Данные ТОЛЬКО в памяти, теряются при перезапуске
    volumes:
      - redis_data:/data
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped

  migrate:
    build: .
    command: >
      bash -c "echo 'Ожидаем запуск PostgreSQL 20с... Waiting for PostgreSQL...' &&
               sleep 20 &&
               python manage.py migrate"
    depends_on:
      db:
        condition: service_healthy
    restart: "no"

  createsuperuser:
    build: .
    env_file:
      - .env
    command: >
      bash -c "python manage.py createsu"
    depends_on:
      migrate:
        condition: service_completed_successfully
    restart: "no"

  app:
    build: .
    env_file:
      - .env
    tty: true
    command: >
      bash -c "gunicorn config.wsgi:application --bind 0.0.0.0:8000 --workers=3"
    volumes:
      - static_volume:/app/static
      - media_volume:/app/media
      - logs_volume:/app/logs
    ports:
      - '8000:8000'
    depends_on:
      db:
        condition: service_healthy
      migrate:  # Ждем завершения миграций
        condition: service_completed_successfully
      createsuperuser: # добавляем зависимость от createsuperuser
        condition: service_completed_successfully
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/health"]
      interval: 30s
      timeout: 10s
      retries: 3

  celery:
    build: .
    env_file:
      - .env
    command: celery -A config worker --loglevel=info
    volumes:
      - .:/app
      - logs_volume:/app/logs
    depends_on:
      - redis
      - db
      - migrate
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "celery", "-A", "config", "inspect", "ping" ]
      interval: 30s
      timeout: 10s
      retries: 3

  celery-beat:
    build: .
    env_file:
      - .env
    command: celery -A config beat --loglevel=info
    volumes:
      - .:/app
      - logs_volume:/app/logs
    depends_on:
      - redis
      - db
      - migrate
    restart: unless-stopped

  nginx:
    image: nginx:1.25-alpine
    ports:
      - '80:80'
      # - '443:443'  нужен SSL сертификат
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - static_volume:/app/static:ro
      - media_volume:/app/media:ro
    depends_on:
      - app
    restart: unless-stopped

volumes:
  postgres_data:
  redis_data:
  static_volume:
  media_volume:
  logs_volume: